<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>dodaj auto</title>
    <link rel="stylesheet" href="aaforms.css"/>
</head>
<body style="background-color:darkgray">
<!--<body style="background-color: burlywood">-->

<h1>Dodawanie samochodu do bazy</h1>
<h2><span th:text = "${message}"></span></h2>

<form th:action="@{/cars}" th:object="${addedCar}" method="post">
    <main>
        <fieldset >
    <table>
        <tr>
            <td>marka</td>
            <td><input type="text" th:field="*{carManufacturer}"/>
                <span th:="${#fields.hasErrors('carManufacturer')}" th:errors="*{carManufacturer}"/>
            </td>

        </tr>
        <tr>
            <td>model</td>
            <td><input type="text" th:field="*{carModel}"/>
                <span th:="${#fields.hasErrors('carModel')}" th:errors="*{carModel}"/>
            </td>

        </tr>
        <tr>
            <td>rok</td>
            <td><input type="text" th:field="*{carYearProduction}"/>
                <span th:="${#fields.hasErrors('carYearProduction')}" th:errors="*{carYearProduction}"/>
            </td>
        </tr>

        <tr>
            <td>przebieg</td>
            <td><input type="text" th:field="*{carMilage}"/>
                <span th:="${#fields.hasErrors('carMilage')}" th:errors="*{carMilage}"/>
            </td>
        </tr>

        <tr>
            <td>nr_nadwozia</td>
            <td><input type="text" th:field="*{carNrChassis}"/>
                <span th:="${#fields.hasErrors('carNrChassis')}" th:errors="*{carNrChassis}"/>
            </td>
        </tr>

        <tr>
            <td>opis</td>
            <td><input type="text" th:field="*{carDescription}"/>
                <span th:="${#fields.hasErrors('carDescription')}" th:errors="*{carDescription}"/>
            </td>
        </tr>

        <tr>
            <td>cena zakupu</td>
            <td><input type="text" th:field="*{buyingContractsPrice}"/>
                <span th:="${#fields.hasErrors('buyingContractsPrice')}" th:errors="*{buyingContractsPrice}"/>
            </td>

        </tr>

        <tr>
            <td>cena sprzedaży</td>
            <td><input type="text" th:field="*{carPrice}"/>
                <span th:="${#fields.hasErrors('carPrice')}" th:errors="*{carPrice}"/>
            </td>

        </tr>

        <tr>
            <td colspan="10"> <input type="submit" value="zapisz samochod"/> </td>

        </tr>
        <tr>
            <td><a th:href="@{/cars}">dostepne_samochody</a></td>
        </tr>
    </table>
        </fieldset>
    </main>

</form>

</body>
</html>