<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj_samochod</title>
</head>
<body>
<h1>dodaj_samochod</h1>
<form th:action="@{/cars}" th:object="${addedCar}" method="post">
    <table>
        <tr>
            <td>marka</td>
            <td><input type="text" th:field="*{carManufacturer}"/>
            <span th:="${#fields.hasErrors('carManufacturer')}" th:errors="*{carManufacturer}"/>
            </td>

        </tr>
        <tr>
            <td>model</td>
            <td><input type="text" th:field="*{carModel}"/></td>
        </tr>
        <tr>
            <td>rok</td>
            <td><input type="text" th:field="*{carYearProduction}"/></td>
        </tr>

        <tr>
            <td>przebieg</td>
            <td><input type="text" th:field="*{carMilage}"/></td>
        </tr>

        <tr>
            <td>opis</td>
            <td><input type="text" th:field="*{carDescription}"/></td>
        </tr>

        <tr>
            <td>cena zakupu</td>
            <td><input type="text" th:field="*{buyingContractsPrice}"/></td>

        </tr>

        <tr>
            <td>cena sprzedaży</td>
            <td><input type="text" th:field="*{carPrice}"/></td>

        </tr>

        <tr>
            <td colspan="10"> <input type="submit" value="kup_samochod"/> </td>

        </tr>
        <tr>
            <td><a th:href="@{/cars}">dostepne_samochody</a></td>
        </tr>
    </table>


</form>
</body>
</html>