<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <tittle>Dostepne_samochody</tittle>
</head>
<body>
<h1>dostepne_samochody</h1>
<table>
    <tr>

        <th>lp</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>cena</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars1}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carPrice}"></td>


        <td><a th:href="@{/cars/{carId}/desc(carId=${car.id})}">opis</a></td>


    </tr>
</table>
    <p><a th:href="@{/cars/soldcars}">sprzedane_samochody</a></p>
    <p><a th:href="@{/cars/new}">dodaj_samochod</a></p>
    <p><a th:href="@{/cars/boughtcars}">kupione_samochody></a></p>
</body>
</html>