<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <tittle>Dostepne_samochody_dla klienta</tittle>
</head>
<body>
<h1>dostepne_samochody_dla klienta</h1>
<table>
    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>cena_oferty</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars1}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carPrice}"></td>


        <td><a th:href="@{/cars/{carId}/desc(carId=${car.id})}">opis</a></td>


    </tr>
</table>
    <p><a th:href="@{/cars/boughtcars}">kupione_samochody</a></p>
    <p><a th:href="@{/cars/soldcars}">sprzedane_samochody</a></p>
    <p><a th:href="@{/cars/new}">dodaj_samochod</a></p>
    <p><a th:href="@{/raports}">pełny_raport</a></p>
    <p><a th:href="@{/edit}">edytuj_samochod</a></p>
    <p><a th:href="@{/login}">logowanie</a></p>
    <h3 th:inline="text">jesteś zalogowany jako: [[${#httpServletRequest.remoteUser}]]</h3>
    <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>