<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Wszystkie samochody kupione</title>

</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    /*tr:nth-child(even){background-color: #f2f2f2}*/
    tr:nth-child(even) {
        background-color: #CCCCCC
    }

    tr:nth-child(odd) {
        background-color: #E5E5E5
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<body style="background-color:gray">
<h1 style="text-align: center; color: white">Wykaz wszystkich kupionych samochodów</h1>
<div align="center">
    <form style="margin: 0 auto;width: 900px; background: darkgray;font-size: 20px;
    max-width: 900px; min-width: 450px; margin: 40px auto; margin: 40px auto">
        <fieldset>
            <!--<table>-->
            <tr>
                <td><h4 style="text-align: left"><a th:href="@{/cars}">Dostępne samochody</a></h4></td>
            </tr>
            <!--</table>-->
        </fieldset>
        <fieldset>
            <table>

                <tr>


                    <th>lp</th>
                    <th>id</th>
                    <th>marka</th>
                    <th>model</th>
                    <th>rok</th>
                    <th>przebieg</th>
                    <th>nr_nadwozia</th>
                    <th>cena_zakupu</th>
                    <th>data_godzina_zakupu</th>

                </tr>
                <tr th:each="car, iterationInfo : ${cars3}">

                    <td th:text="${iterationInfo.index}+1"></td>
                    <td th:text="${car.id}"></td>
                    <td th:text="${car.carManufacturer}"></td>
                    <td th:text="${car.carModel}"></td>
                    <td th:text="${car.carYearProduction}"></td>
                    <td th:text="${car.carMilage}"></td>
                    <td th:text="${car.carNrChassis}"></td>
                    <td><span th:text="${car.carPrice}"></span> PLN</td>
                    <td th:text="${car.purchaseDate}"></td>

                </tr>
            </table>
        </fieldset>
    </form>
</div>
</body>
</html>
