<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <title>Zmiana_danych_samochod</title>
</head>
<body>
<!--<body style="background-color: burlywood">-->

<h1>zmiana_danych_samochod</h1>
<table>
    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>cena_oferty</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars1}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carPrice}"></td>


        <td><a th:href="@{/edit/{carId}/editable(carId=${car.id})}">edytuj</a></td>


    </tr>



</table>
<p><a th:href="@{/cars}">dostepne_samochody</a></p>

</body>
</html>