<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:span="http://java.sun.com/JSP/Page" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Pełny raport</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    /*tr:nth-child(even){background-color: #f2f2f2}*/
    tr:nth-child(even){background-color: #CCCCCC}
    tr:nth-child(odd){background-color: #E5E5E5}
    th {
        /*background-color: #FF8050;#FF854C;*/
        background-color: #FF4CAB;
        color: white;
    }
</style>
<body style="background-color:gray">
<h1 style="text-align: center; color: white">Pełny raport kupionych, dostępnych i sprzedanych samochodów</h1>
<div align="center">
    <form style="margin: 0 auto;width: 1200px; background: darkgray;font-size: 20px;
    max-width: 1200px; min-width: 450px; margin: 40px auto; margin: 40px auto">
        <fieldset>

            <table>
                <tr>
                    <th>
                    <a th:href="@{/purchase/raport}">Raport _kupna</a>
                    </th>
                    <th>
                    <a th:href="@{/sale/raport}">Raport _sprzedazy</a>
                    </th>
                    <th>
                    <a th:href="@{/cars}">Dostępne_samochody</a>
                    </th>
                </tr>
            </table>
        </fieldset>


            <!--<p><a th:href="@{/purchase/raport}">raport _kupna</a></p>-->
            <!--<p><a th:href="@{/sale/raport}">raport _sprzedazy</a></p>-->
            <!--<p><a th:href="@{/cars}">dostepne_samochody</a></p>-->
        <fieldset>
<table>

    <h2>Samochody kupione</h2>

    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>nr_nadwozia</th>
        <th>cena_zakupu</th>
        <th>data_godzina_zakupu</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars1}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carNrChassis}"></td>
        <td><span th:text="${car.carPrice}"></span> PLN</td>
        <td><span th:text="${car.purchaseDate}"></span> PLN</td>
    </tr>
</table>
        </fieldset>
        <fieldset>
            <table>
                <tr>
                    <p><h3 style="text-align: left">Całkowita wartość zakupu samochodów wynosi: <span th:text = "${value1}"></span> PLN</h3></p>
                </tr>
            </table>
        </fieldset>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>

        <fieldset>
        <table>
           <h2>Samochody dostępne dla obsługi</h2>

    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>nr_nadwozia</th>
        <th>widoczność</th>
        <th>cena_oferty</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars2}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carNrChassis}"></td>
        <td th:text="${car.carVisibility}"></td>
        <td><span th:text="${car.carPrice}"></span> PLN</td>
    </tr>
</table>
            </fieldset>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>

        <fieldset>
        <table>
    <h2>Samochody sprzedane</h2>

    <tr>

        <th>lp</th>
        <th>id</th>
        <th>marka</th>
        <th>model</th>
        <th>rok</th>
        <th>przebieg</th>
        <th>nr_nadwozia</th>
        <th>cena_sprzedaży</th>
        <th>data_godzina_sprzedaży</th>
        <th>marża</th>
        <th>zysk</th>

    </tr>
    <tr th:each="car, iterationInfo : ${cars3}">

        <td th:text="${iterationInfo.index}+1"></td>
        <td th:text="${car.id}"></td>
        <td th:text="${car.carManufacturer}"></td>
        <td th:text="${car.carModel}"></td>
        <td th:text="${car.carYearProduction}"></td>
        <td th:text="${car.carMilage}"></td>
        <td th:text="${car.carNrChassis}"></td>
        <td><span th:text="${car.carPrice}"></span> PLN</td>
        <td th:text="${car.saleDate}"></td>
        <td><span th:text="${car.margin}"></span> %</td>
        <td><span th:text="${car.profit}"></span> PLN</td>


    </tr>
</table>
            </fieldset>
        <fieldset>
            <table>
                <p><h3 style="text-align: left">Całkowita wartość sprzedaży samochodów wynosi: <span th:text = "${value2}"></span> PLN</h3></p>
                <p><h3 style="text-align: left">Całkowita wartość zysku brutto ze sprzedaży samochodów wynosi: <span th:text = "${value3}"></span> PLN</h3></p>
                <p><h3 style="text-align: left">Całkowita wartość podatku ze sprzedaży wynosi: <span th:text = "${value4}"></span> PLN</h3></p>
                <p><h3 style="text-align: left">Całkowita wartość zysku netto ze sprzedaży wynosi: <span th:text = "${value5}"></span> PLN</h3></p>
            </table>
        </fieldset>
        <fieldset>

        <table>
            <tr>
                <th>
                    <a th:href="@{/purchase/raport}">raport _kupna</a>
                </th>
                <th>
                    <a th:href="@{/sale/raport}">raport _sprzedazy</a>
                </th>
                <th>
                    <a th:href="@{/cars}">dostepne_samochody</a>
                </th>
            </tr>
        </table>
    </fieldset>
    </form>
    </div>
</body>
</html>