<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Strona logowania</title>

</head>
<body style="background-color:gray">
<h1 style="text-align: center; color: white">Logowanie użytkownika</h1>

<form style="margin: 0 auto; width: 500px" th:action="@{/login}" method="post">
    <div style="background: darkgray; font-size: 18px; max-width: 700px; min-width: 450px; margin: 40px auto; margin: 40px auto">
        <fieldset>
            <table>
                <tr>
                    <td>Użytkownik:</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>Hasło:</td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td>
                    <form th:action="@{/login}" method="post">
                    <input type="submit" value="Zaloguj"/>
                    </form>
                    </td>
                </tr>
                <tr>
                    <td><a th:href="@{/cars}">Dostępne_samochody</a></td>

                </tr>
            </table>
        </fieldset>
    </div>
</form>
</body>
</html>
