<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Strona logowania</title>
    <meta charset="UTF-8"/>
</head>
<body style="background-color:gray">
<h1 style="text-align: center; color: white">Logowanie użytkownika</h1>

<form style="margin: 0 auto; width: 500px" th:action="@{/login}" method="post">
    <div style="background: darkgray; font-size: 18px; max-width: 700px; min-width: 450px; margin: 40px auto; margin: 40px auto">
        <fieldset>
            <table>
                <tr>
                    <td>Użytkownik:</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>Hasło:</td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Zaloguj"/></td>
                </tr>
                <tr>
                    <td><a th:href="@{/cars}">Dostępne_samochody</a></td>
                </tr>
            </table>
        </fieldset>
    </div>
</form>
</body>
</html>
